[probe]
## Chaoticlabs CNC TAP
pin: EBBCan: gpio22 #M4-STOP
x_offset: 0
y_offset: 0
z_offset: 0
speed: 10.0
samples: 3
samples_result: median
sample_retract_dist: 3.0
samples_tolerance: 0.006
samples_tolerance_retries: 3

[safe_z_home]
home_xy_position: 175, 175
speed: 50.0
z_hop: 10
z_hop_speed: 15.0
move_to_previous: False