[include fluidd.cfg]
[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_25000A000A504B4633373520-if00

[virtual_sdcard]
path: /home/lukes/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[printer]
kinematics: corexy
max_velocity: 1000
max_accel: 1000
