[include fluidd.cfg]
[include Machine/**/.cfg]
[include Macros/**/*.cfg]
[include KAMP_Settings.cfg]

[mcu CM4]
serial: /tmp/klipper_host_mcu
[mcu]
#serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_25000A000A504B4633373520-if00
canbus_interface: can0
canbus_uuid: 47e634c93282

[mcu EBBCan]
canbus_interface: can0
canbus_uuid: 0bdd2668a492

[virtual_sdcard]
path: /home/lukes/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[exclude_object]

[idle_timeout]
timeout: 1800

[printer]
kinematics: corexy
max_velocity: 1000
max_accel: 1000

[shaketune]
# result_folder: ~/printer_data/config/ShakeTune_results
#    Path where the processed results will be stored. If the folder doesn't exist,
#    it will be automatically created. You can change this if you'd like to store 
#    results in a different location.
# number_of_results_to_keep: 10
#    This setting defines how many results you want to keep in the result folder.
#    Once the specified number is exceeded, older results will be automatically deleted
#    to free up space on the SD card and avoid cluttering the results folder.
# keep_raw_data: False
#    If set to True, Shake&Tune will store both the processed graphs and the raw accelerometer
#    .stdata files in the results folder. This can be useful for debugging or archiving purposes.
#    Please always attach them when reporting any issues on GitHub or Discord.
# show_macros_in_webui: True
#    Mainsail and Fluidd doesn't create buttons for system commands (macros that are not part
#    of the printer.cfg file). This option allow Shake&Tune to inject them into the webui at runtime.
#    If set to False, the macros will be hidden but still accessible from the console by typing
#    their names manually, which can be useful if you prefer to encapsulate them into your own macros.
# timeout: 600
#    This defines the maximum processing time (in seconds) to allows to Shake&Tune for generating 
#    graphs from a .stdata file. 10 minutes should be more than enough in most cases, but if you have
#    slower hardware (e.g., older SD cards or low-performance devices), increase it to prevent timeouts.
# measurements_chunk_size: 2
#    Each Shake&Tune command uses the accelerometer to take multiple measurements. By default,
#    Shake&Tune will write a chunk of data to disk every two measurements, and at the end of the
#    command will merge these chunks into the final .stdata file for processing. "2" is a very
#    conservative setting to avoid Klipper Timer Too Close errors on lower end devices with little
#    RAM, and should work for everyone. However, if you are using a powerful computer, you may
#    wish to increase this value to keep more measurements in memory (e.g., 15-20) before writing
#    the chunk and avoid stressing the filesystem too much.
# max_freq: 200
#    This setting defines the maximum frequency at which the calculation of the power spectral density
#    is cutoff. The default value should be fine for most machines and accelerometer combinations and
#    avoid touching it unless you know what you're doing.
# dpi: 300
#    Controls the resolution of the generated graphs. The default value of 300 dpi was optimized
#    and strikes a balance between performance and readability, ensuring that graphs are clear
#    without using too much RAM to generate them. Usually, you shouldn't need to change this value.

[input_shaper]
shaper_freq_x: 52.0
shaper_freq_y: 38.6
shaper_type: mzv
damping_ratio_x: 0.039
damping_ratio_y: 0.049

[extruder]
## Needed because of Klippers inability to "SAVE_CONFIG" on includes
#control: pid
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982

[heater_bed]
## Needed because of Klippers inability to "SAVE_CONFIG" on includes
#control: pid
#pid_kp: 58.437
#pid_ki: 2.347
#pid_kd: 363.769

[probe]
## Needed because of Klippers inability to "SAVE_CONFIG" on includes
x_offset: 0
y_offset: 0
#z_offset: 0

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 63.726
#*# pid_ki = 2.124
#*# pid_kd = 477.943
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 16.100
#*# pid_ki = 0.603
#*# pid_kd = 107.462
#*#
#*# [probe]
#*# z_offset = 0.110
