# Park front center
[gcode_macro _PARKFRONT]
gcode:
    _CG28
    SAVE_GCODE_STATE NAME=_PARKFRONT
    G90                               ; absolute positioning
    G0 X{printer.toolhead.axis_maximum.x/2} Y{printer.toolhead.axis_minimum.y+5} Z{printer.toolhead.axis_maximum.z/2} F6000        
    RESTORE_GCODE_STATE NAME=_PARKFRONT

# Park front center, but low down.
[gcode_macro _PARKFRONTLOW]
gcode:
    _CG28
    SAVE_GCODE_STATE NAME=_PARKFRONT
    G90                              ; absolute positioning
    G0 X{printer.toolhead.axis_maximum.x/2} Y{printer.toolhead.axis_minimum.y+5} Z20 F6000                                     
    RESTORE_GCODE_STATE NAME=_PARKFRONT

# Park top rear left
[gcode_macro _PARKREAR]
gcode:
    _CG28
    SAVE_GCODE_STATE NAME=_PARKREAR
    G90                              ; absolute positioning
    G0 X{printer.toolhead.axis_minimum.x+10} Y{printer.toolhead.axis_maximum.y-10} Z{printer.toolhead.axis_maximum.z-50} F6000     
    RESTORE_GCODE_STATE NAME=_PARKREAR

# Park at center of build volume
[gcode_macro _PARKCENTER]
gcode:
    _CG28
    SAVE_GCODE_STATE NAME=_PARKCENTER
    G90                               ; absolute positioning
    G0 X{printer.toolhead.axis_maximum.x/2} Y{printer.toolhead.axis_maximum.y/2} Z{printer.toolhead.axis_maximum.z/2} F6000    
    RESTORE_GCODE_STATE NAME=_PARKCENTER

# Park 15mm above center of bed
[gcode_macro _PARKBED]
gcode:
    _CG28
    SAVE_GCODE_STATE NAME=_PARKBED
    G90                                ; absolute positioning
    G0 X{printer.toolhead.axis_maximum.x/2} Y{printer.toolhead.axis_maximum.y/2} Z15 F6000                                     
    RESTORE_GCODE_STATE NAME=_PARKBED

[gcode_macro _PARKSOAK]
gcode:
    SAVE_GCODE_STATE NAME=_PARKFORSOAK
    G90                                ; absolute positioning
    G0 X{printer.toolhead.axis_maximum.x/2} Y{printer.toolhead.axis_maximum.y/2} Z10 F6000                                     
    RESTORE_GCODE_STATE NAME=_PARKFORSOAK